.status {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.text {
  margin-top: 28px;
  margin-bottom: auto;
  margin-left: 5px;
  font-size: 18px;
}

.refresh {
  display: inline-block;
  color: white;
  padding-left: 5px;
  padding: auto;
  font-size: 23px;
  margin-top: 28px;
  margin-bottom: auto;
}

.refresh:hover {
  transition: all 0.4s ease-in-out;
  transform: rotate(360deg) scale(1.15);
  color: blanchedalmond;
}

@media screen and (max-width: 1300px) {
  .text {
    max-width: 70px;
    margin-right: 53px;
    float: right;
    padding-left: 2em;
  }

  .refresh {
    margin-right: 60px;
    float: left;
    margin-right: 250px;
    padding-left: 2em;
  }
  .refresh:hover {
    transition: all 0.4s ease-in-out;
    transform: rotate(360deg) scale(1.15);
    color: blanchedalmond;
  }
}
