.status {
  display: grid;
  grid-template-columns: repeat(2, auto);
  flex-direction: row;
  margin: auto;
  padding: auto;
}

.text {
  margin: auto;
  padding: auto;
}

.refresh {
  padding: auto;
  margin: auto;
  margin-left: -48px;
  display: inline-block;
  background-size: 100% 100%;
  font-size: 1.5em;
  color: white;
}

.refresh:hover {
  transition: all 0.4s ease-in-out;
  transform: rotate(360deg) scale(1.1);
}
