.status {
  display: grid;
  grid-template-columns: repeat(2, auto);
  flex-direction: row;
  align-items: flex-start;
  margin: auto;
  padding: auto;
}

.text {
  display: fixed;
  margin: auto;
  margin-top: 28px;
  margin-left: 80px;
  padding: 0;
}

.refresh {
  display: inline-block;
  padding: 0;
  margin: auto;
  margin-left: -90px;
  display: inline-block;
  background-size: 100% 100%;
  font-size: 1.5em;
  color: white;
}

.refresh:hover {
  transition: all 0.4s ease-in-out;
  transform: rotate(360deg) scale(1.1);
}
