.header-wrapper {
  background: linear-gradient(90deg, rgb(51, 50, 53) 10%, rgb(25, 25, 32) 100%);
  height: 80px;
  width: 100vw;
  padding: auto;
  margin: auto;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.2rem;
  overflow: hidden;
  border: solid 2px green;
}

.header-logo {
  width: 200px;
  padding: auto;
  margin: auto;
  align-items: flex-start;
  display: absolute !important;
  margin-left: 10px;
}

.title {
  color: white;
  font-size: 25px;
  width: 175px;
  margin: auto;
  padding: auto;
  margin-right: -80px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.menu-icon {
  color: white;
}

.nav-menu {
  margin: auto;
  padding: auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  max-width: 40vw;
  justify-content: end;
  margin-right: 2rem;
  border: solid 2px red;
}

.nav-links {
  color: white;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  text-decoration: none !important;
  background-color: rgba(139, 139, 139, 0.404);
  border-radius: 4px;
  transition: all 0.15s ease-out;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.ros-status {
  text-align: center;
  padding: auto;
  align-items: center;
  vertical-align: middle;
  border: 2px solid red;
}

.logout-button {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1em;
  padding: auto;
  display: inline-flex;
}

@media screen and (max-width: 960px) {
  .header-wrapper {
    position: relative;
  }

  .header-logo {
    width: 200px;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    display: fixed;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .mav-menu.active {
    background: black;
    left: 0;
    opacity: 1;
    transition: all 0.5 ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .header-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: white;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: black;
    text-decoration: none;
    color: white;
    transition: 250ms;
  }

  .logout-button {
    display: none;
  }
}
