.wrapper {
  background-color: #ffffff;
  width: 400px;
  height: 350px;
  margin: 7em auto;
  margin-top: 20vh;
  border-radius: 1em;
  box-shadow: 0px 12px 39px 2px rgba(0, 0, 0, 0.14);
  text-align: center;
  z-index: 9999;
  overflow: hidden;
}

.username,
.password {
  width: 70%;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(5, 5, 5, 0.363);
  text-align: center;
  margin-bottom: 5px;
  font-family: "Ubuntu", sans-serif;
}

.header {
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #4c4c4c;
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  padding-top: 20px;
  margin-bottom: 15px;
}

.icon {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
}
.icon :hover {
  color: #aeaeb8;
  cursor: pointer;
}

.button {
  border-radius: 4px;
  background: linear-gradient(to right, #527ccc, #40c6fb);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
  margin-top: -10px;
  font-family: "Ubuntu", sans-serif;
}
