.loginpage .username,
.loginpage .password {
  width: 70%;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px;
  border-radius: 10px;
  outline: black;
  box-sizing: border-box;
  border: 2px solid rgba(5, 5, 5, 0.363);
  text-align: center;
  margin-bottom: 5px;
  font-family: "Ubuntu", sans-serif;
  border: 2px solid grey;
}

.loginpage .username:focus,
.loginpage .password:focus {
  border: 2px solid rgba(0, 0, 0, 0.842) !important;
}

.loginpage .logo {
  width: 400px;
  height: 400px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -8em;
}

.loginpage .box {
  background-color: #ffffff;
  width: 400px;
  height: 350px;
  margin: 7em auto;
  margin-top: -8em;
  border-radius: 1em;
  box-shadow: 0px 12px 39px 2px rgba(0, 0, 0, 0.14);
  text-align: center;
  z-index: 9999;
  overflow: hidden;
}

.loginpage .small-box {
  width: 200px;
  height: 250px;
  text-align: center;
}

.loginpage .big-header {
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #292727;
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  padding-top: 20px;
}

.loginpage .heading {
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #4c4c4c;
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  padding-top: 20px;
  margin-bottom: 15px;
}

.loginpage .icon {
  position: absolute;
  display: inline;
  margin-top: -60px;
  margin-left: 150px;
  overflow: hidden;
}

.loginpage .icon :hover {
  color: #aeaeb8;
  cursor: pointer;
}

.loginpage .remember {
  margin: auto;
  padding-top: 20px;
  display: inline-block;
}

.loginpage .button {
  border-radius: 4px;
  background: linear-gradient(to right, #527ccc, #40c6fb);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
  margin-top: -10px;
  font-family: "Ubuntu", sans-serif;
}
